@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
  background-image: url("/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gradient-border {
  display: inline-block;
  background: linear-gradient(
    90deg,
    rgba(243, 40, 52, 1) 0%,
    rgba(187, 34, 172, 1) 100%
  );
  border-radius: 0.375rem; /* match the border radius of the input */
  padding: 1px; /* this will be the width of your border */
}

.gradient-border input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: inherit;
}
